{{- $navbar           := .Site.Params.navbar }}
{{- $sidebarVisible   := .Params.sidebar | default .Site.Params.sidebar }}
{{- $navbarLogo       := .Site.Params.navbarlogo }}
{{- $navbarLogoWidth  := .Site.Params.navbarlogo.width | default 600 }}
{{- $navbarLogoHeight := .Site.Params.navbarlogo.height | default 30 }}

<nav class="navbar is-fresh is-transparent no-shadow" role="navigation" aria-label="main navigation" style="min-height: 80px;">
  <div class="container is-flex is-align-items-center" style="padding: 0; min-height: 80px;">
    
    <div class="navbar-brand is-flex is-align-items-center">
      {{- if $navbarLogo }}
      <a class="navbar-item" href="{{ $navbarLogo.link }}">
        <img src="{{ printf "images/%s" $navbarLogo.image | relURL }}" alt=""
          style="height: {{ $navbarLogoHeight }}px; max-width: {{ $navbarLogoWidth }}px; width: auto;">
      </a>
      {{- end }}

      {{- if $sidebarVisible }}
      <a class="navbar-item is-hidden-desktop is-hidden-tablet is-flex is-align-items-center">
        <div id="menu-icon-wrapper" class="menu-icon-wrapper" style="visibility: visible;">
          <svg width="1000px" height="1000px">
            <path class="path1" d="M 300 400 L 700 400 ..."></path>
            <path class="path2" d="M 300 500 L 700 500"></path>
            <path class="path3" d="M 700 600 L 300 600 ..."></path>
          </svg>
          <button id="menu-icon-trigger" class="menu-icon-trigger"></button>
        </div>
      </a>
      {{- end }}

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar-menu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbar-menu" class="navbar-menu is-flex is-align-items-center" style="flex-grow: 1;">
      
      {{- if $sidebarVisible }}
      <div class="navbar-start is-flex is-align-items-center">
        <a class="navbar-item is-hidden-mobile">
          <div id="menu-icon-wrapper" class="menu-icon-wrapper" style="visibility: visible;">
            <svg width="1000px" height="1000px">
              <path class="path1" d="M 300 400 L 700 400 ..."></path>
              <path class="path2" d="M 300 500 L 700 500"></path>
              <path class="path3" d="M 700 600 L 300 600 ..."></path>
            </svg>
            <button id="menu-icon-trigger" class="menu-icon-trigger"></button>
          </div>
        </a>
      </div>
      {{- end }}

      <div class="navbar-end is-flex is-align-items-center">
        {{- range $navbar }}
        {{- if .sublinks }}
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">{{ .title }}</a>
          <div class="navbar-dropdown">
            {{- range .sublinks }}
            <a href="{{ .url }}" class="navbar-item">{{ .title }}</a>
            {{- end }}
          </div>
        </div>
        {{- else if .button }}
        <a href="{{ .url }}" class="navbar-item">
          <span class="button signup-button rounded secondary-btn raised">{{ .title }}</span>
        </a>
        {{- else if (hasPrefix .url "mailto:") }}
          <a href="{{ .url }}" class="navbar-item is-secondary" style="display: flex; align-items: center;">
            <span class="icon is-small" style="margin-right: 0.5rem; display: flex; align-items: center;">
              <i class="fas fa-envelope" style="font-size: 1rem;"></i>
            </span>
            <span>{{ .title }}</span>
          </a>

        {{- else }}
        <a href="{{ .url }}" class="navbar-item is-secondary">{{ .title }}</a>
        {{- end }}
        {{- end }}
      </div>

    </div>
  </div>
</nav>
